@import 'variables.scss';

.subscription {

    &__content {
        margin-top: 15rem;
        position: relative;
        padding: 8rem;
        border-radius: 2rem 2rem 2rem 2rem;
        background: url('../images/src/purple-background.svg') center no-repeat;
    
        &::after {
            content: '';
            position: absolute;
            right: -2rem;
            top: -2rem;
            width: 7rem;
            height: 7rem;
            border-radius: 4rem;
            background: url('../images/src/paper-airlpane.svg') center no-repeat;
            background-size: cover;
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 31rem;
            right: -9.5rem;
            z-index: -1;
            width: 15.3rem;
            height: 16.6rem;
            overflow-x: clip;
            background: url('../images/src/pros-bot.svg') no-repeat;
            background-size: cover;
        }
    }
    
    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 3.3rem;
        line-height: 5.4rem;
        text-align: center;
        color: $DarkColor;
    }
    
    &__form {
        display: flex;
        justify-content: center;
        margin-top: 7.5rem;
    }
    
    &__inp {
        width: 42rem;
        height: 7rem;
        margin-right: 2.5rem;
        border: none;
        border-radius: 1rem;
        padding: 0 0 0 6.5rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #39425D;
        background: url('../images/src/mail.svg') 6% no-repeat;    
        background-color: #fff;
    }
    
    &__btn {
        padding: 2rem 5rem;
        border: none;
        border-radius: 1rem;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 2.3rem;
        text-align: center;
        color: #FFFFFF;
        background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
        cursor: pointer;

        &:hover {
            background: linear-gradient(180deg, #FF946D 100%, #FF7D68 0%);
        }
        
        &:active {
            background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
        }
    }
}
